html, body ,main
{
    height: 100%;
}
main{
    top:51px;
    overflow:hidden;
}

#leftSidebar{
    position:fixed;
    top:51px;
    border:1px solid blue;
    border-radius:5px;
    width:40%;
    height:100%;
    background-color:rgba(250,250,250,0.5);
    max-height:300px;
    overflow-y:scroll

}
#rightSidebar{
    position:absolute;
    right:0px;
    float:right;
    border:1px solid red;
    border-radius:5px;
    width:40%;
    height:100%;
    




}

#mainContent {
    margin: 0;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 51px;
    border: 2px solid green;
}


#mapContent
{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #b4d2ff;
    position:relative;
}

#mapDiv
{
    position:static !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top:51px;
    bottom:0px;
    background-color: rgb(180, 210, 255) !important;
    
}
